html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

.fancyNav{
    overflow: hidden;
    display: inline-block;
    margin-left: 60%;
    margin-top: 30px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.fancyNav li{
    padding-left: 8px;
    padding-right: 8px;
    background-color: rgb:(240, 240, 240, 0.3);
    background-image: -webkit-gradient(linear,left top, left bottom,from(#222222), color-stop(0.5,#333333), color-stop(0.51, #444444));

    box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;
    -moz-box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;
    -webkit-box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;

    position:relative;

    float: left;
    list-style: none;
}

.fancyNav li:hover{
     background-image: -webkit-gradient(linear,left top, left bottom,from(#444444), color-stop(0.5,#555555), color-stop(0.51, #666666));
}

.fancyNav li a{
    text-decoration: none;
    color: #94D9EB;
}

#home{
    width: 100% - 12;
    height: 1000px;
    background-color: #555555;
    border-right: 6px solid #222222;
    border-left: 6px solid #222222;
}

#projects{
    display: block;
    position: relative;
    width: 100%;
    height: 1000px;
}

#projects h1{
    margin-left: 5%;
    color: #9999CC;
    text-decoration: underline;
    text-align: center;
}

*{
    background-color: #333333;
    
}

#imgMe{
    margin-left: 5%;
}

.projContent{
    display:none;
    position: absolute;
    list-style-type: none;
}

.displayProj{
    display:block;
    position: absolute;
    list-style-type: none;
    border: 8px solid #151515;
    left: 5% - 4px;
    top: 75px;
}

.displayProj p{
    position: absolute;
    
}

.displayProj h2{
    position: absolute;
}

.displayProj div{
    z-index: 1000px;
    position: absolute;
}

.displayProj > img{
    z-index:-1;
}

#projList li{
    list-style-type: none; 
}

#homeButton{
    position: fixed;
    width: 32px;
    height: 32px;
    background: none;
}

#homeButton img{
    width: 64px;
    height: 64px;
    background: none;
}

#about{
    width: 100% - 12px;
    height: 1000px;
    background-color: #555555;
    border-right: 6px solid #222222;
    border-left: 6px solid #222222;
}


#about p {
	position: relative;
	margin-left: 2px;
	font-size: 30px;	
}

#about div{
	background-color: #555555;
	border-left: 3px solid #222222;
	border-right: 3px solid #222222;
	height: 850px;
	position: absolute;	
}

#c1{
	left: 1px;
}

#c2{
	left: 50%;
}
#contact{
    width: 50%;
    height: 1000px;
}

#contact h1{
    margin-left: 5%;
    color: #9999CC;
    text-decoration: underline;
    text-align: center;
}

#about h1{
    margin-left: 5%;
    color: #9999CC;
    background-color: #555555;
    text-decoration: underline;
    font-size: 40px;
}

#homeText{
	margin-left: 6%;
}

#homeText p{
	background-color: #555555;
	color: #84C9FB;
}

#title h1{
	color: #84C9FB;
	position: absolute;
	left: 10px;
	top: 3px;
	font
}

#about p{
	color: #84C9FB;
	background-color: #555555; 
}